.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-content {
    margin-top: auto;
}

.card-content {
    background-color: rgb(18, 165, 206);
}

.button.navbar-item {
    height: auto;
}

body {
    background-color: rgb(246, 146, 24);
}

.logo-emoji {
    margin: 0 10px;
}

.form-link {
    margin-left: 3px;
}

span.logout {
    cursor: pointer;
}

section.section {
    min-height: calc(100vh - 11.25rem);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    left: 500px;
    Top: 200px;
    width: 1000px;
    height: 1000px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(32, 51, 56);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }


}

.label.label {
    color:rgb(255, 255, 255);
}

.navbarColor {
    background-color: #ef994d;
}

$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$box-padding: 1rem;
$modal-content-width: 65rem;

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/


// ? Import bulma, all customizations should live above this line.
@import "../../node_modules/bulma/bulma.sass";